@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}


@keyframes slide {
  from {
    translate: 0;
  }
  to {
    translate: -50%;
  }
}

.animate-slide {
  animation: slide 30s infinite linear;
}